@font-face {
font-family: 'Mistral';
font-style: normal;
font-weight: normal;
src: local('Mistral'), url('../fonts/Mistral.woff') format('woff');
src: local('Mistral'), url('../fonts/Mistral.woff') format('woff');
}

.card-columns {
  @include media-breakpoint-only (lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.row > *{
	padding: 1rem 0rem 0rem 1rem;
}

#main > *{
	padding: 2rem 2rem 2rem 1rem;
}

#intro {
	min-height: 80vh;
}
.site-title {
	font-family: 'Mistral' !important;
    font-weight: normal;
    font-style: normal
}

#footer > section.split.contact > section > :first-child{
	width: 10rem;
}

.buy{
	font-size: 20px;
}